
  .card p {
    font-size: 14px;
    /*margin: 5px 0 15px ;*/
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 140px;*/
    color: #3C3C3B;
  }
  .card h5{
    color: #FF4E15;
  }
  .bg-important-entry{
    background: #e0e0e0;
  }
  .blog-title{
    color: #FF4E15;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    font-variant: small-caps;
  }
  .breadcrumb{
    margin: 60px 0 0 0 ;
    background: #FFFFFF;
    font-size: 12px;
  }
  .breadcrumb a{
    color: #b1b1b1b1;
  }
  .source{
    color: #3C3C3B;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #3C3C3B;
    border-bottom: 1px solid #3C3C3B;
    padding: 2px 5px 2px 10px;

  }
.container-light{
  background: #FFFFFF;
}
.blog-content{
  text-align: left;
  color: #3C3C3B;
}
.blog-content p{
  margin: 10px 0 20px;
}