

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(../fonts/Montserrat-ThinItalic.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(../fonts/Montserrat-ThinItalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(../fonts/Montserrat-Italic.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(../fonts/Montserrat-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(../fonts/Montserrat-Thin.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(../fonts/Montserrat-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(../fonts/Montserrat-ExtraLight.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(../fonts/Montserrat-ExtraLight.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(../fonts/Montserrat-ExtraBold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(../fonts/Montserrat-ExtraBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(../fonts/Montserrat-Black.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(../fonts/Montserrat-Black.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,body {-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-ms-font-smoothing: antialiased;font-smoothing: antialiased;-webkit-text-size-adjust: 100%;}
body {
  font: 16px/1.6 'Montserrat', sans-serif;
  color: #fff;
  text-align:center;
  background: #222;
}
img {border: 0;
  max-width: 100%;
}
html {-ms-overflow-style: scrollbar;}
.alltrans, .social-icons li a,.owl-nav > button,.owl-nav > button:after,.counter-box,.about-img:after,.gallery-img img,.form-control,.owl-dot,.subscribe-row,.close-btn,.close-btn:before,.close-btn:after,.tag-btn,.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a {color: #fff;text-decoration: none;}
a:hover,a:focus {color: #fff;outline: none;text-decoration: underline;}
p {margin: 0 0 20px;}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 600;
}
h1, h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
#main {
  padding: 0;
  background: #fff;
}
.no-margin {
  margin: 0 !important;
}
figure {
  margin:0;
}
.opacity-no {
  opacity: 1 !important;
}

video {
  position: fixed;
  min-width: 100%;
  /*min-height: 95%;*/
  left: 50%;
  top: 50%;
  /*max-height: 100%;*/
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}
#video:after {
  content: '';
  opacity: 0.75;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 60%, rgb(0, 0, 0) 100%); /* FF3.6-15  */
  background: -webkit-linear-gradient(top, #000000 60%,rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 60%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
}
.wrapper-background-dark:after {
  background: #222;
  opacity:0.95;
}
.section-inner {
  padding:20px 30px 0;
}
.fp-scrollable {
  height:calc(100vh - 200px) !important;
}
#fp-nav ul li a span {
 display: none;
}

.btn {
  background: #fff;
  color: #222;
  text-align:center;
  line-height:52px;
  padding:0 35px;
  border-radius: 0px;
  text-transform:uppercase;
  font-weight:600;
  border:2px solid transparent;
  border-radius: 10px;
}
.btn:hover, .btn:focus {
  color:#fff;
  border-color:#fff;
  background:none;
}
.btn:focus {
  box-shadow:none;
  outline:none;
}
.btn.btn-xs {
  line-height:34px;
  font-size:12px;
  padding:0 20px;
  font-weight: 500;
}
.btn.btn-outline {
  background:none;
  border-color:#fff;
  color:#fff;
  border-width:1px;
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
  background:#fff;
  color:#222;
}
.btn.btn-dark {
  color: #222;
  border-color: #222;
}
.btn.btn-dark:hover, .btn.btn-dark:focus {
  background: #222;
  color: #fff;
}
.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.owl-carousel .owl-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 0 auto;
}
.preloader {
  background: -moz-linear-gradient(top, #000000 0%, rgb(0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FF4E15',GradientType=0 ); /* IE6-9 */
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.preloader-bounce {
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.preloader-bounce > span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0.3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: bounce 0.6s infinite alternate;
  animation: bounce 0.6s infinite alternate;
  background: #fff;
}
.preloader-bounce > span:nth-child(2){
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #fff;
}
.preloader-bounce > span:nth-child(3){
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: #fff;
}
#fullpage {z-index: 99;}
/*==============================================
02. HEADER CSS
================================================*/
#header {
  padding:8px 0;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index:999;
}
.container-fluid {
  padding:0 20px;
}
a#logo {
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.logo-hide{
  opacity: 0;
}
.navbar {
  padding: 0;
}
.navbar-toggle {
  display:none;
}
.navbar-nav {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li {
  margin-left: 60px;
}
.navbar-nav li:last-child {
  margin-right: 30px;
}
.navbar-nav li a {
  color:#fff;
  font-size: 15px;
  text-decoration:none;
  display:block;
  font-weight: 500;
  opacity: 0.9;
  font-weight: 500;
}
.navbar-nav li a:after {
  content:'';
  display:block;
  height: 2px;
  background:#fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform:scale(0);
  transform:scale(0);
  margin-top: 4px;
}
.navbar-nav li a:hover:after, .navbar-nav li.active a:after{
  -webkit-transform:scale(1);
  transform:scale(1);
}
.navbar-nav li a:hover {
  opacity: 1;
}
.navbar-nav li.active a {
  opacity: 1;
}
.collapse:not(.show) {
  display:block;
}
.header-grey{
  background-color: #3C3C3B;
}
.header-grey a#logo{
  opacity: 1!important;
}
/*==============================================
03. SOCIAL ICONS CSS
================================================*/
#social-icons {
  padding:0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right:0;
  z-index: 199;
}
.social-icons {
  margin:0;
  padding:0;
  list-style:none;
}
.social-icons li {
  display: block;
  margin: 1px 0px;
}
.social-icons li a {
  width:50px;
  height:50px;
  display:inline-block;
  line-height:50px;
  text-align:center;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255,1);
  font-size:18px;
}
.social-icons li a:hover {
  color:#1e1e1e;
  background-color: #fff;
}
/*==============================================
04. WELCOME BLOCK CSS
================================================*/
.bg-red-nova{
  background: url(../images/bg-l-red-nova.jpg);
}
.welcome-box {
  font-size:20px;
  line-height:1.7;
}
.welcome-first{
  font-size: 32px;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.welcome-box p {
  max-width: 620px;
  width:100%;
  margin:0 auto 30px;
  color: #fff;
  line-height: 29px;
}
.welcome-title {
  font-weight: 700;
  font-size: 120px;
  margin-bottom: 10px;
  letter-spacing:0.02em;
}
.welcome-title span {
  font-size:36px;
  display:block;
  font-weight:300;
  line-height:1.2;
}
.welcome-box .btn {
  margin-top: 10px;
}
.next-section {
  display: inline-block;
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.next-section span {
  margin-top: 15px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.next-section i:hover {opacity: 1;}
/*==============================================
05. RELEVANT
================================================*/
.bg-black-nova{background: url(../images/bg-l-black-nova.jpg);}
.slide1-img {
  margin: 0 auto 40px;
  position:relative;
}
.slide1-img img {
  border-radius: 10px;
}
.about-contentbox {
  margin: 5% 0 0 -23px;
  text-align: left;
  line-height: 1.5;
  padding: 50px 20px 30px 0;
  max-height: 340px;
  font-weight: 200;
}
.about-contentbox h6 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
}
.about-contentbox h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.about-section iframe{
  margin: 25% 0;
}
.about-section .white-bg{
  height: 100vh;
}
.vertical-center{
  display: table-cell;
  vertical-align: middle;
  padding: 20% 0 0;
}
.facts-list {
  margin-top: 30px;
}
.facts-list .item {
  overflow: hidden;
  text-align:center;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  text-transform:capitalize;
  font-size:14px;
  padding: 30px 0px 14px;
  background: rgba(0,0,0,0.75);
  border: 1px solid rgba(0,0,0,0.75);
}
.counter-box span {
  margin-top: 24px;
  font-size: 13px;
  font-weight: 700;
}
.counter-icon {
  font-size: 30px;
  margin-bottom: 10px;
  opacity: 0.75;
}
.facts-list .item:hover {
  background:#fff;
  color:#1e1e1e;
  border: 1px solid #1e1e1e;
}
.facts-list .owl-dots {
  margin-bottom: 10px;
}
.count-number, .counted {
  display:block;
  font-size:36px;
  font-weight:700;
  line-height:1;
  margin-bottom:10px;
}
.relevant-content{
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
}
p.relevant-content{
  padding:0 6%;
}
/*==============================================
06. SERVICES BLOCK CSS
================================================*/
.bg-ligh-grey{
  background: #F0F0F0;
}
.about-img{
  margin: 130px auto;
  position:relative;
}
.about-slider{
  font-weight: 200;
  font-size: 24px;
  color: #3C3C3B;
  line-height: 32px;
}
.about-contentbox2{
  margin-top: 20px;
  text-align: left;
  line-height: 1.8;
  padding: 30px 28px 20px;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
  box-shadow: 0 0 40px rgba(0,0,0,.3);
  border-radius: 13px;
}
.title-block {
  margin-bottom: 40px;
}
.title-block span {
  font-size: 18px;
  /*text-transform: uppercase;*/
  font-weight: 300;
}
.services-list .item {
  background-color: rgba(250,250,250,0.25);
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.service-icon {
  display:block;
  margin: 0 auto 0;
  font-size: 64px;
}
.service-box {
  font-size:15px;
  padding:40px 20px;
  height:100%;
}
.services-list .item:hover {
  background-color: #fff;
  color: #1e1e1e;
}
.service-box h3 {
  font-size:22px;
  font-weight:700;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding: 10px;
}
.service-box p:last-child {margin:0;}
.owl-carousel .owl-dots .owl-dot {border-radius: 3px;}
.owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 10px
}
.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: rgba(206, 206, 206, 0.8)
}
.owl-carousel .owl-dots .owl-dot:focus {
    outline: none
}
.owl-carousel .owl-dots .owl-dot.active {
    background: #3C3C3B;
}
/*==============================================
07. WORK BLOCK CSS
================================================*/
.white-bg{
  background: #FFFFFF;
  color: #3C3C3B;
  padding: 20px 10px;
}
.white-bg h1{
  color: #FF4E15;
  font-weight: 700;
  font-size: 40px;
  margin: 40px 0 20px;
}
.white-bg p{
  font-size: 18px;
  font-weight: 400;
  padding: 10px 50px;
}
.light-grey{
  background: #666666;
  font-weight: 600;
  padding: 21% 10px 90px 10%;
  text-align: left;
  font-size: 1.7em;
  line-height: 48px;
}
.about-section .light-grey{
  background: url(../images/bg-vr.jpg) no-repeat right center;
  background-size: cover;
}
.about-section .fp-tableCell{
  display: block!important;
  height: 100vh;
}
.about-section .fp-scrollable{
  height: 100vh!important;
}
.check-icon{
  background: url(../images/img-check.png) no-repeat center;
  display: inline-block;
  height: 31px;
  width: 31px;
  margin-right: 14px; 
}
/*==============================================
SLIDER
================================================*/
.thumb img {
  border: 1px solid #FF4E15;
}
.gallery-section {
  text-align: center;
}
.portfolio-item img {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  border-radius: 10px;
}
.portfolio-item .thumb-inner {
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: left;
  padding: 20px;
  background-color: rgba(133,133,133,0.30);
  width: 100%;
  height: 60px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.portfolio-item .thumb-inner h4 {
  margin-bottom: 0;
  font-size: 16px;
  margin-top: 0px;
  color: #3C3C3B;
  text-align: center;
}
.portfolio-item .thumb-inner p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-bottom: 0px;
}
.portfolio-item:hover .thumb-inner p {
  position: relative;
  opacity: 1;
  visibility: visible;
  color: #ffffff;
  font-size: 12px;
}
.portfolio-item:hover .thumb-inner {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8)
}
.portfolio-item:hover .thumb-inner h4 {
   margin-top: 1%;
  color: #ffffff;
  margin-bottom: 4px;
}
/*==============================================
08. CONTACT BLOCK CSS
================================================*/
::-webkit-input-placeholder {
  color:#fff !important;
  opacity:1;
}
::-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
:-ms-input-placeholder {
  color:#fff !important;
  opacity:1;
}
:-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
.input-field {
  margin-bottom:15px;
}
.form-control {
  height: 50px;
  color: #fff;
  border: none;
  background: rgba(250,250,250,0.00);
  border-bottom: 1px solid rgba(250,250,250,0.5);
  border-radius: 0px;
  padding: 4px 22px;
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}
.form-control:focus {
  box-shadow:none;
  outline:none;
  background:rgba(0,0,0,0.05);
  border: 1px solid rgba(250,250,250,1);
  color:#fff;
}
.index .form-control.form-control-dark {
  background: rgba(250,250,250, 0.75);
  color: #fff;
}
.index .form-control.form-control-dark:focus {
  background: rgba(54, 40, 158, 0.85);
  color: #fff;
}
.index .form-control.form-control-dark::-webkit-input-placeholder {
  color: #fff !important;
}
.index .form-control.form-control-dark::-moz-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-ms-input-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-moz-placeholder {
  color:#fff !important;
}
.form-control.form-control-dark:focus {
  background: rgba(0, 0, 0, 0.2);
}
.form-control.form-control-dark {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  border: none;
}
.form-control.form-control-dark::-webkit-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark::-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-ms-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
textarea.form-control {
  height:123px;
  padding-top:15px;
}
.contact-section .btn {
  width:100%;
}
.contact-box {
  text-align:left;
}
.contact-box h4 {
  font-size:24px;
}
#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
  height: 50px;
  color: #fff;
  border: none;
  background: rgba(250,250,250,0.00);
  border-bottom: 1px solid rgba(250,250,250,0.5);
  border-radius: 0px;
  text-align: center;
}
#mc_embed_signup .button{
  color: #222!important;
  background: #fff!important;
  margin: 0 auto!important;
  display: block!important;
}
#mc_embed_signup .mc-field-group{
  width: 100%!important;
}
#mc_embed_signup .button:hover{
  color: #fff!important;
  background: rgba(0,0,0,0)!important;
  border: solid 1px #ffffff;
}
#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 0px;
  text-align: center;
}
.contact-box h4:after {
  content:'';
  display:block;
  width:50px;
  height:2px;
  background:#fff;
  margin:12px 0;
}
.contact-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(250,250,250,0.25);
  border-radius: 10px;
  padding: 30px;
  font-weight: 700;
}
.contact-row i {
  width:55px;
  font-size: 30px;
  display:inline-block;
}
.contact-row i.fa-envelope {
  font-size: 25px;
}
.contact-row ul li{
  list-style: none;
}
.nova-form{
  padding-bottom: 14%;
}
.contact{background: url(../images/bg-nova-stars.jpg) no-repeat center center;}
.blog-cards .card{
  border:solid 1px #B1B1B1;
}
/*==============================================
10. NOSOTROS PÁGINA
================================================*/
.about-us {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 34px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.about-us-first{
  font-size: 32px;
  display: block;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about-us .info, .blog-label {
  width:100%;
  margin:0 auto 30px;
  color: #3C3C3B;
  font-weight: 400;
  line-height: 29px;
}
.blog-label {
  font-size: 16px!important;
}
.bg-white-nova{
 background: #ffffff;
}
.img-infografic{
 width: 80%;
 height: auto;
 max-width: 1000px;
}
.bg-white-nova .about-us-first{
  font-size: 17px;
}
.bg-white-nova .about-us-title{
  font-size: 30px;
  color: #FF4E15;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}
.bg-white-nova .scroll-down.next-section.animated.fadeInUp{
  color: #3C3C3B;
}
.dark-scroll-down{
  background: rgba(0,0,0,0.0);
  padding: 5px;
  border-radius: 5px;
  margin-left: -7px;
  color: #1f1f1f!important;
}
.about-us h1, .about-us .about-us-first {
  color: #3C3C3B;
  font-weight: 600;
}
.about-us p {
  color: #FFFFFF;
}
.about-us-title {
  font-weight: 500;
  font-size: 120px;
  margin-bottom: 10px;
  letter-spacing:0.02em;
  margin-bottom: 40px;
}
.about-us-title span {
  font-size:36px;
  display:block;
  font-weight:300;
  line-height:1.2;
}
.about-us .btn {
  margin-top: 10px;
}
.experience{
  padding: 15% 5%;
  text-align: left;
}
.white-section{
  background: rgba(255,255,255,1);
}
.grey-color{
  color: #3C3C3B;
}
/*==============================================
FOOTER
================================================*/
.site-footer{
  background: #000000;
  font-weight: 200;
  text-align: left;
  padding: 16px 0 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  min-width: 100%;
  font-size: 14px;
  color:#e7e7e7;
}
.site-footer h5{
  font-weight: 400;
  font-size: 15px;
}
.final-line{
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #979797;
  padding: 5px 0 8px 0px;
}
.final-line p{
  margin: 0px;
}
.site-footer ul, li{
  padding: 0;
  list-style: none;
}
.site-footer-outpage{
  background: #000000;
  font-weight: 300;
  text-align: left;
  padding: 20px 0 10px;
  bottom: 0;
  min-width: 100%;
  font-size: 14px;
  color:#e7e7e7;
}
.fullpage-general{
  margin-top: 70px;
}
.fullpage-general .bg-ligh-grey p{
  padding:20px 5px 40px;
  text-align: left;
  font-size: 19px;
}

.cont-first-expe{
  background: #ffffff;
}
#logo-footer{
  right: 12px;
  position: absolute;
}
/*==============================================
EXPERIENCIA
================================================*/

.pagination-nova{
  padding: 0 0 5px;
  width: 100%;
}
.bnt-primary{
  background: #FF4E15;
  margin:50px;
  color: #FFFFFF;
  padding: 0px 20px;
  border: 1px #FF4E15 solid;
}
.bnt-primary:hover{
  border: 1px #FF4E15 solid;
  color: #FF4E15;
  box-sizing: border-box;
  padding: 0px 20px;
  margin:50px;
}
.bnt-primary i{
  margin-right: 10px;
}
.experience-title-art{
  color: #FF4E15;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  font-variant: small-caps;
  line-height: 20px;
}
.experience-title-art small{
  line-height: 20px;
}

.about-us .card {
  height:250px;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0 0px 25px;
}
.about-us .card:hover:before,.about-us .card:hover .card-body{
  opacity: 1;
}
.about-us .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.about-us .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
      object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px;
}
.about-us .card .card-body {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-us .card .card-body h5, .blog-cards .card .card-body h5 {
  margin: 0px 0 30px;
  text-align: left;
  color: #FF4E15;
  font-weight: 600;
  font-variant: small-caps;
}
.about-us .card .card-body p {
  font-size: 14px;
  margin: 5px 0 15px ;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 140px;

}
.about-us .card .card-body button {
  padding: 4px 14px;
  outline: none;
  border: none;
  border-radius: 0px;
  background: black;
  color: white;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 20px;
  font-size: 14px;
  border: solid 1px white;
}
.about-us .card .card-body button:hover {
  color: black;
  background: white ;
}
.about-us .page-item.active .page-link, .card-blog-pager .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #FF4E15;
  border-color: #FF4E15;
}
.blog-cards .card .card-body p small{
  font-weight: 600;
}
.blog-cards .card .card-body p label{
  color: #FF4E15;
  font-weight: 600;
  text-align: right;
  float: right;
}
.card{
  position: relative;
}
.card .overley-card {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 50% 0 0;
  color: #FF4E15;
}
.overley-card:hover, .card-blog-pager .overley-card:hover:before{cursor: pointer; opacity: 1;}
.overley-card i{margin: 0 10px;font-size: 50px;}
.share-social{
  border-top: 1px solid #3C3C3B;
  border-bottom: 1px solid #3C3C3B;
}